// Tab adaptive
@media (max-width: 1200px) {

    // header
    .header-links,
    .header-login {
        display: none;
    }

    .header-burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    // footer
    .footer {
        display: none;
    }

    // общие настройки container - в этот класс обернут контент всех секций, футера, хедера
    .container {
        max-width: 620px;
    }

    // адаптив main page
    .main-main {
        margin: 40px 0 80px 0;
    }

    .main-main__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .main-main__info {
        font-size: 15px;
        line-height: 17px;
    }

    .main-card {
        padding: 20px 33px 20px 20px;
        margin-bottom: 140px;
    }

    .main-card__title {
        font-size: 15px;
        line-height: 17px;
        display: flex;
        flex-direction: column;
    }

    .main-card__info {
        font-size: 25px;
        line-height: 29px;
    }

    .main-card__link {
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-card__link img {
        width: 30px;
        // margin-bottom: 3px;
    }

    .main-card__span {
        margin-right: 0px;
    }

    .main-steps {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 140px;
    }

    .main-steps__main {
        width: 291px;
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 29px;
    }

    .main-steps__wrapper {
        // imoprtant чтобы перебить nth-child в десктопе
        align-self: flex-start !important;

    }

    .main-steps__item {
        max-width: 520px;
        margin-bottom: 20px;
    }

    .main-steps__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 23px;
    }

    .main-steps__info {
        font-size: 16px;
        line-height: 24px;
    }

    .main-about {
        margin-bottom: 140px;
    }

    .main-about::after {
        content: "";
        position: absolute;
        width: 350px;
        height: 500px;
        top: -60%;
        left: 60%;
        background: linear-gradient(90deg, rgba(106, 17, 203, 0.6) 0%, rgba(37, 117, 252, 0.6) 100%);
        border-radius: 50%;
        opacity: .5;
        filter: blur(100px);
        transform: rotate(40.81deg);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .main-about__title {
        font-size: 25px;
        line-height: 29px;
    }

    .main-about__info {
        width: 560px;
        font-size: 16px;
        line-height: 29px;
    }

    .main-comments {
        margin-bottom: 140px;
    }

    .main-comments__big {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 29px;
    }

    .main-comments__slider {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .main-comments__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .main-comments__info {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 30px;
    }

    .main-referrals__wrapper {
        width: auto !important;
    }

    .main-referrals__title {
        width: 100%;
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .main-referrals__info {
        width: 100%;
        font-size: 16px;
        line-height: 29px;
        display: flex;
        flex-direction: column;
    }

    .main-referrals__h1 {
        font-size: 50px;
        line-height: 58px;
    }

    .main-referrals__h2 {
        font-size: 30px;
        line-height: 35px;
    }

    // адаптив assurance page
    .assuranse .container {
        margin-top: 40px;
        display: flex;
        align-items: start;
    }

    .assuranse-wrapper {
        width: 100%;
    }

    .assuranse-wrapper__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .assuranse-card {
        width: 100%;
        padding: 20px;
    }


    .assuranse-card::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 200px;
        bottom: -5%;
        right: -5%;
        background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
        transform: rotate(109deg);
        opacity: .4;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .assuranse-card__item {
        max-width: 570px;
        margin-bottom: 30px;
    }

    .assuranse-card__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .assuranse-card__item--title {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
    }

    .assuranse-card__item--info {
        font-size: 14px;
        line-height: 17px;
    }

    // about page адаптив

    .about .container {
        align-items: start;
        margin-top: 40px;
    }

    .about-wrapper {
        width: 100%;
    }

    .about-wrapper__title {
        font-size: 30px;
        line-height: 35px;
    }

    .about-card {
        padding: 20px;
    }

    .about-card::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 200px;
        top: 78%;
        right: -5%;
        background: linear-gradient(90deg, #13547A 0%, #80D0C7 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .about-card__item {
        // important чтобы перебить nth-child
        width: 570px !important;
        margin-bottom: 40px;
    }

    .about-card__item:nth-last-child(1) {
        margin-bottom: 4px;
    }

    .about-card__item--title {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .about-card__item--info {
        font-size: 14px;
        line-height: 17px;
    }

    // faq page адаптив
    .faq .container {
        margin-top: 40px;
        align-items: start;
    }

    .faq__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .faq__info {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 40px;
        width: 391px;
    }

    .faq-card {
        padding: 20px;
        height: 57px;
    }

    .faq-card.active {
        height: 135px;
    }

    .faq-card__title {
        font-size: 15px;
        line-height: 17px;
    }

    .faq-card__info {
        width: 533px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
        margin-bottom: 0;
    }

    .faq-card__icons {
        margin: 0;
    }

    // learning portal adaptive
    .portal .container {
        margin-top: 40px;
        align-items: start;
    }

    .portal__title {
        font-size: 30px;
        line-height: 35px;
    }

    .portal__info {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 80px;
    }

    .portal-slider {
        width: 100%;
    }

    .portal-slider__card {
        height: 300px;
        padding: 20px;
        margin-bottom: 80px;
    }

    .portal-slider__title {
        width: 249px;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
    }

    .portal-slider__info {
        width: 500px;
        font-size: 14px;
        line-height: 17px;
    }

    .portal-slider__navigation {
        width: 60px;
        margin: 0 20px 10px 0;
    }

    .portal-slider__navigation img {
        width: 20px;
    }

    .portal-slider__video {
        height: 300px;
    }

    .portal-slider__video-title {
        width: 428px;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}

// mobile adapive
@media (max-width: 767px) {

    // общие настройки container - в этот класс обернут контент всех секций, футера, хедера
    .container {
        max-width: 300px;
    }

    // адаптив main page
    .main-main {
        margin-bottom: 40px;
    }

    .main-main__title {
        font-size: 20px;
        line-height: 23px;
    }

    .main-main__info {
        font-size: 14px;
        line-height: 16px;
    }

    .main-card__title {
        width: 205px;
        font-size: 12px;
        line-height: 14px;
    }

    .main-card__info {
        font-size: 12px;
        line-height: 14px;
    }

    .main-card__link a{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-card__link img {
        width: 20px;
    }

    .main-card__span {
        font-size: 12px;
        line-height: 14px;
        margin-right: 5px;
    }
}