// Tab adaptive
@media (max-width: 1200px) {

    // админка
    .sidebar {
        width: 220px;
    }

    .sidebar-name {
        font-size: 14px;
        line-height: 16px;
    }

    .sidebar-item__name {
        font-size: 12px;
        line-height: 14px;
    }

    .welcome {
        margin-left: 257px;
        max-width: 400px;
    }

    .big-title {
        width: 90%;
        font-size: 45px;
        line-height: 56px;
    }

    .subtitle {
        width: 90%;
        font-size: 20px;
        line-height: 25px;
    }

    .welcome-wrapper {
        margin-bottom: 40px;
    }

    .card {
        width: 460px;
    }

    .account-wrapper__title {
        font-size: 24px;
        line-height: 30px;
    }

    .account-span__green {
        font-size: 16px;
        line-height: 20px;
    }


    .input {
        width: 180px;
    }

    .select,
    .button__long,
    .input-group,
    .input-wrapper__big,
    .buttons-wrapper,
    .label__mid {
        width: 400px;
    }

    .header-navigation__item {
        display: none;
    }

    .referral__link {
        width: 320px;
        padding: 10px;
    }

    .table th {
        padding: 10px;
    }

    .table td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .table-white {
        width: 400px;
        border-spacing: 8px 30px;
    }

    .table-navigation {
        width: 250px;
        right: 180px;
    }


    // header
    .header-links,
    .header-login {
        display: none;
    }

    .header-burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    // footer
    .footer {
        display: none;
    }

    // общие настройки container - в этот класс обернут контент всех секций, футера, хедера
    .container {
        max-width: 620px;
    }

    // адаптив main page
    .main-comments__navigation {
        top: 250px;
    }

    .main-main {
        margin: 40px 0 80px 0;
    }

    .main-main__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .main-main__info {
        font-size: 15px;
        line-height: 17px;
    }

    .main-card {
        padding: 20px 33px 20px 20px;
        margin-bottom: 140px;
    }

    .main-card__title {
        font-size: 15px;
        line-height: 17px;
        display: flex;
        flex-direction: column;
    }

    .main-card__info {
        font-size: 25px;
        line-height: 29px;
    }

    .main-card__link {
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-card__link img {
        width: 30px;
        // margin-bottom: 3px;
    }

    .main-card__span {
        margin-right: 0px;
    }

    .main-steps {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        margin-bottom: 140px;
    }

    .main-steps__main {
        width: 291px;
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 29px;
    }

    .main-steps__wrapper {
        // imoprtant чтобы перебить nth-child в десктопе
        align-self: flex-start !important;

    }

    .main-steps__item {
        max-width: 520px;
        margin-bottom: 20px;
    }

    .main-steps__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 23px;
    }

    .main-steps__info {
        font-size: 16px;
        line-height: 24px;
    }

    .main-about {
        margin-bottom: 140px;
    }

    .main-about::after {
        content: "";
        position: absolute;
        width: 350px;
        height: 500px;
        top: -60%;
        left: 60%;
        background: linear-gradient(90deg, rgba(106, 17, 203, 0.6) 0%, rgba(37, 117, 252, 0.6) 100%);
        border-radius: 50%;
        opacity: .5;
        filter: blur(100px);
        transform: rotate(40.81deg);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .main-about__title {
        font-size: 25px;
        line-height: 29px;
    }

    .main-about__info {
        width: 100%;
        font-size: 16px;
        line-height: 29px;
    }

    .main-comments {
        margin-bottom: 140px;
    }

    .main-comments__big {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 29px;
    }

    .main-comments__slider {
        width: 445px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .main-comments__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .main-comments__info {
        font-size: 16px;
        line-height: 29px;
        margin-bottom: 30px;
    }

    .main-referrals__wrapper {
        width: auto !important;
    }

    .main-referrals__title {
        width: 100%;
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .main-referrals__info {
        width: 100%;
        font-size: 16px;
        line-height: 29px;
        display: flex;
        flex-direction: column;
    }

    .main-referrals__h1 {
        font-size: 50px;
        line-height: 58px;
    }

    .main-referrals__h2 {
        font-size: 30px;
        line-height: 35px;
    }

    // адаптив assuranse page

    .assuranse .container {
        margin-top: 40px;
        display: flex;
        align-items: start;
    }

    .assuranse-wrapper {
        width: 100%;
    }

    .assuranse-wrapper__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .assuranse-card {
        width: 100%;
        padding: 20px;
    }


    .assuranse-card::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 200px;
        bottom: -5%;
        right: -5%;
        background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
        transform: rotate(109deg);
        opacity: .4;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .assuranse-card__item {
        max-width: 570px;
        margin-bottom: 30px;
    }

    .assuranse-card__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .assuranse-card__item--title {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
    }

    .assuranse-card__item--info {
        font-size: 14px;
        line-height: 17px;
    }

    // about page адаптив

    .about .container {
        align-items: start;
        margin-top: 40px;
    }

    .about-wrapper {
        width: 100%;
    }

    .about-wrapper__title {
        font-size: 30px;
        line-height: 35px;
    }

    .about-card {
        padding: 20px;
    }

    .about-card::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 200px;
        top: 78%;
        right: -5%;
        background: linear-gradient(90deg, #13547A 0%, #80D0C7 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .about-card__item {
        // important чтобы перебить nth-child
        width: 100% !important;
        margin-bottom: 40px;
    }

    .about-card__item:nth-last-child(1) {
        margin-bottom: 4px;
    }

    .about-card__item--title {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .about-card__item--info {
        font-size: 14px;
        line-height: 17px;
    }

    // faq page адаптив
    .faq .container {
        margin-top: 40px;
        align-items: start;
    }

    .faq__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .faq__info {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 40px;
        width: 391px;
    }

    .faq-card {
        padding: 20px;
        height: 57px;
    }

    .faq-card.active {
        height: 135px;
    }

    .faq-card__title {
        font-size: 15px;
        line-height: 17px;
    }

    .faq-card__info {
        width: 533px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
        margin-bottom: 0;
    }

    .faq-card__icons {
        margin: 0;
    }

    // learning portal adaptive
    .portal .container {
        margin-top: 40px;
        align-items: start;
    }

    .portal__title {
        font-size: 30px;
        line-height: 35px;
    }

    .portal__info {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 80px;
    }

    .portal-slider {
        width: 100%;
    }

    .portal-slider__card {
        width: 100%;
        height: 300px;
        padding: 20px;
        margin-bottom: 80px;
    }


    // светящиеся шары
    .rose-gold:after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 30%;
        right: 30%;
        background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: 3;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }


    .gold::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 70%;
        right: 30%;
        background: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .gray::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 40%;
        right: 30%;
        background: linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .red::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 40%;
        right: 30%;
        background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .blue::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 40%;
        right: 30%;
        background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
        transform: rotate(109deg);
        opacity: .6;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .portal-slider__title {
        width: 249px;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
    }

    .portal-slider__info {
        width: 500px;
        font-size: 14px;
        line-height: 17px;
    }



    .portal-slider__navigation img {
        width: 20px;
    }

    .portal-slider__video {
        height: 300px;
        width: 100%;
    }

    .portal-slider__video-title {
        width: 428px;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}

// mobile adapive
@media (max-width: 767px) {

    // login/registration page
    .login {
        width: 300px;
    }

    .login-input,
    .login-button {
        width: 100%;
    }

    .registration-select,
    .registration-select__list,
    .registration-select__item {
        width: 220px;
    }

    // emails
    .letter-card {
        width: 300px;
        min-height: 300px;
    }
    .letter-card__btn-main, .letter-card__secondary {
        align-self: center;
        margin-right: 0;
    }

    .letter-card__title {
        width: 90%;
        font-size: 30px;
        line-height: 36px;
    }
    .confirmation, .recovery {
        width: 90%;
    }

    .letter-card__info {
        font-size: 13px;
        line-height: 14px;
    }

    // tech pages
    .tech {
        width: 100%;
    }
    .tech-title {
        margin-top: 0px;
        font-size: 30px;
        line-height: 41px;
        margin-bottom: 27px;
    }
    
    .tech-info {
        max-width: 972px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
    }
    
    .tech-button {
        width: 288px;
        height: 50px;
        background-color: $blue;
        border: 0;
        color: $primary-white;
        cursor: pointer;
    }
    
    .tech-info__small {
        width: 90%;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 50px;
    }

    // модалка навигации (burger)
    .modal.active .modal-nav {
        width: 300px;
        height: auto;
        top: 40px;
    }

    .burger-links__cross {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .burger-links__cross img {
        width: 10px;
        height: 10px;
    }

    .burger-links__item {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .burger-links__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .burger-links__btn-login {
        margin-bottom: 10px;
    }



    // админка
    .cabinet {
        margin-top: 20px;
    }

    .sidebar {
        padding-top: 60px;
        width: 60px;
    }

    .sidebar-item__name,
    .sidebar-name,
    .header-user__name,
    .header-navigation {
        display: none;
    }

    .sidebar-item {
        padding: 20px;
    }

    .header-user__arrow {
        margin-left: 5px;
    }


    .welcome,
    .deposit {
        margin-left: 60px;
        max-width: 220px;
    }

    .big-title {
        width: 90%;
        font-size: 25px;
        line-height: 26px;
    }

    .subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
    }

    .info {
        font-size: 9px;
        line-height: 11px;
        margin-bottom: 20px;
    }


    .btn__main,
    .info {
        width: 200px;
    }

    .welcome-wrapper {
        margin-bottom: 40px;
    }

    .card {
        width: 220px;
        padding: 12px;
    }

    .account-wrapper__title {
        font-size: 18px;
        line-height: 22px;
    }

    .account-wrapper__span {
        font-size: 10px;
        line-height: 12px;
    }

    .account-span__green {
        font-size: 12px;
        line-height: 14px;
    }


    .select {
        font-size: 10px;
        line-height: 12px;
    }

    .input-group {
        flex-direction: column;
    }

    .button__long {
        margin-top: 40px;
        font-size: 12px;
        line-height: 14px;
    }

    .form-footer {
        font-size: 8px;
        line-height: 10px;
        margin-top: 40px;
    }

    .input {
        font-size: 10px;
        line-height: 12px;
    }

    .label__mid {
        font-size: 7px;
        line-height: 10px;
    }

    .buttons-wrapper {
        width: 200px;
        display: flex;
        flex-direction: column;
    }

    .referral__link {
        width: 200px;
        font-size: 6px;
        line-height: 8px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .button-secondary__small {
        width: 200px;
        text-align: center;
    }

    .select,
    .button__long,
    .input-group,
    .input-wrapper__big,
    .buttons-wrapper,
    .label__mid,
    .input,
    .input__big,
    .wallet__link {
        width: 200px;
    }

    .wallet__link {
        margin-bottom: 5px;
        font-size: 8px;
        line-height: 10px;
        text-align: left;
    }

    .header-navigation__item {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
    }


    .table th {
        padding: 2px;
        font-size: 6px;
        line-height: 8px;
    }

    .table-white th {
        font-size: 8px;
        line-height: 8px;
    }

    .table-white td {
        font-size: 8px;
        line-height: 8px;
    }

    .table td {
        padding-left: 2px;
        font-size: 6px;
        line-height: 8px;
    }

    .table-white {
        width: 200px;
        border-spacing: 0px 25px;
    }

    .table-navigation {
        width: 150px;
        left: 0;

        font-size: 10px;
        line-height: 12px;
    }



    // общие настройки container - в этот класс обернут контент всех секций, футера, хедера
    .container {
        max-width: 300px;
    }

    // адаптив main page
    .main-main {
        margin-bottom: 40px;
    }

    .main-main__title {
        font-size: 20px;
        line-height: 23px;
    }

    .main-main__info {
        font-size: 14px;
        line-height: 16px;
    }

    .main-card {
        margin-bottom: 80px;
        height: 125px;
    }

    .main-card__title {
        width: 205px;
        font-size: 12px;
        line-height: 14px;
    }

    .main-card__info {
        font-size: 12px;
        line-height: 14px;
    }

    .main-card__link a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-card__link img {
        width: 20px;
    }

    .main-card__span {
        font-size: 12px;
        line-height: 14px;
        margin-right: 5px;
    }

    .main-steps {
        margin-bottom: 80px;
        min-height: auto;
    }

    .main-steps__wrapper {
        margin: 0;
        width: 100%;
    }

    .main-steps__item {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
        width: 100%;
    }

    .main-steps__item:nth-child(1) {
        margin-bottom: 20px;
    }

    .main-steps__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .main-steps__title {
        font-size: 12px;
        line-height: 14px;
    }

    .main-steps__info {
        font-size: 12px;
        line-height: 15px;
    }

    .neon-green::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 70px;
        top: 55%;
        right: 0%;
        background: linear-gradient(90deg, #37ECBA 0%, #72AFD3 100%);
        opacity: 1;
        filter: blur(60px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .main-about {
        margin-bottom: 80px;
    }

    .main-about__title {
        font-size: 18px;
        line-height: 21px;
    }

    .main-about__info {
        font-size: 12px;
        line-height: 15px;
    }

    .main-comments {
        margin-bottom: 80px;
        height: auto;
        width: 100%;
    }

    .main-comments__slider {
        width: 100%;
    }

    .main-comments__big {
        width: 210px;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .main-comments__item {
        width: 100%;
    }

    .main-comments__title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
        width: 100%;
    }

    .main-comments__info {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
        width: 100%;
    }

    .main-comments__navigation {
        top: 180px;
        width: 60px;
    }

    .main .navigation__left,
    .main .navigation__right {
        width: 20px;
    }

    .neon-blue::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 70px;
        top: 55%;
        right: 0;
        background: linear-gradient(90deg, #48C6EF 0%, #6F86D6 100%);
        opacity: 1;
        filter: blur(60px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .main-referrals {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
    }

    .main-referrals__wrapper {
        align-items: flex-start;

    }

    .main-referrals__wrapper:nth-child(1) {
        width: 100%;
        height: 200px;
    }

    .main-referrals__wrapper:nth-child(2) {
        position: absolute;
        top: 100px;
        left: 0;
        align-items: flex-start;
    }

    .main-referrals__title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 40px;
    }

    .main-referrals__info {
        font-size: 12px;
        line-height: 15px;
    }

    .main-referrals__h1 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 0;
    }

    .main-referrals__h2 {
        font-size: 15px;
        line-height: 17px;
    }

    .main-about::after {
        content: "";
        position: absolute;
        width: 170px;
        height: 120px;
        top: 50%;
        right: 0;
        background: linear-gradient(90deg, rgba(106, 17, 203, 0.6) 0%, rgba(37, 117, 252, 0.6) 100%);
        border-radius: 50%;
        opacity: 1;
        filter: blur(60px);
        transform: rotate(130.81deg);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    // assuranse page адаптив


    .assuranse-wrapper__title {
        font-size: 20px;
        line-height: 23px;
        width: 173px;
    }

    .assuranse-card {
        width: 100%;
        padding: 10px 16px 21px 10px;
    }


    .assuranse-card::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        bottom: -5%;
        left: -5%;
        background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
        transform: rotate(109deg);
        opacity: .8;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .assuranse-card__item {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .assuranse-card__item:nth-last-child(1) {
        margin-bottom: 0;
    }

    .assuranse-card__item--title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .assuranse-card__item--info {
        font-size: 10px;
        line-height: 12px;
    }


    // about page адаптив

    .about-wrapper__title {
        font-size: 20px;
        line-height: 23px;
    }

    .about-card {
        padding: 10px 16px 20px 10px;
    }

    .about-card::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 90%;
        left: -5%;
        background: linear-gradient(90deg, #13547A 0%, #80D0C7 100%);
        transform: rotate(109deg);
        opacity: .7;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .about-card__item {
        // important чтобы перебить nth-child
        width: 100% !important;
        margin-bottom: 30px;
    }


    .about-card__item--title {
        font-size: 12px;
        line-height: 14px;
    }

    .about-card__item--info {
        font-size: 10px;
        line-height: 12px;
    }


    // faq page адаптив

    .faq .container::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        top: 40%;
        right: -10%;
        background: linear-gradient(90deg, #FF8177 0%, #FF867A 0%, #FF8C7F 21%, #F99185 52%, #CF556C 78%, #B12A5B 100%);
        transform: rotate(109deg);
        opacity: .8;
        border-radius: 50%;
        filter: blur(70px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .faq__title {
        width: 204px;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    .faq__info {
        width: 250px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    .faq-card {
        padding: 10px;
        height: 48px;
    }

    .faq-card.active {
        max-height: 104px;
    }

    .active .faq-card__info {
        margin-bottom: 0;
    }

    .faq-card__title {
        width: 222px;
        font-size: 12px;
        line-height: 14px;
    }

    .faq-card__info {
        width: 260px;
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 10px;
        // margin-bottom: 0;
    }

    .faq-card__icons {
        margin: 0;
    }

    .faq-card__icons img {
        width: 13px;
    }

    .active .faq-icons__cross {
        width: 16px;
    }


    // learning portal adaptive

    .portal__title {
        width: 173px;
        font-size: 20px;
        line-height: 23px;
    }

    .portal__info {
        width: 250px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    .portal-slider {
        width: 100%;
    }

    .portal-slider__card {
        height: 260px;
        padding: 10px 16px 40px 10px;
        margin-bottom: 80px;
    }

    .portal-slider__title {
        width: 180px;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
    }

    .portal-slider__info {
        width: 274px;
        font-size: 10px;
        line-height: 12px;
    }

    // приходится абсолютно позиционировать навигацию слайдера, только так удаётся добиться адекватной работы слайдера
    .portal-slider__navigation {
        z-index: 3;
        position: absolute;
        top: 370px;
        left: 10px;
        width: 50px;
        height: 20px;
    }

    .portal-slider__navigation img {
        width: 20px;
    }

    .portal-slider__video {
        height: 200px;
    }

    .portal-slider__video-title {
        width: 248px;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    // светящиеся шары
    .rose-gold:after {
        content: "";
        position: absolute;
        width: 80px;
        height: 60px;
        top: 66%;
        left: 0;
        background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
        transform: rotate(109deg);
        opacity: 1;
        border-radius: 50%;
        filter: blur(50px);
        z-index: 3;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }


    .gold::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 60px;
        top: 140%;
        left: 0;
        background: linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
        transform: rotate(109deg);
        opacity: 1;
        border-radius: 50%;
        filter: blur(50px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .gray::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 60px;
        top: 96%;
        left: 0;
        background: linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);
        transform: rotate(109deg);
        opacity: 1;
        border-radius: 50%;
        filter: blur(50px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .red::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 60px;
        top: 76%;
        left: 0;
        background: linear-gradient(90deg, #F093FB 0%, #F5576C 100%);
        transform: rotate(109deg);
        opacity: 1;
        border-radius: 50%;
        filter: blur(50px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }

    .blue::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 60px;
        top: 96%;
        left: 0;
        background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
        transform: rotate(109deg);
        opacity: 1;
        border-radius: 50%;
        filter: blur(50px);
        z-index: -1;
        -moz-background-size: 100%;
        /* Firefox 3.6+ */
        -webkit-background-size: 100%;
        /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%;
        /* Opera 9.6+ */
        background-size: 100%;
        /* Современные браузеры */
    }
}