* {
    box-sizing: border-box;
}

body {
    background-color: $background-black;
    color: $primary-white;
    // overflow-x: hidden;
}

body a {
    text-decoration: none;
    color: inherit;
}

body .container {
    width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img {
    max-width: 100%;
}

// псевдоэлемент нижнего подчеркивания в хедере (НЕ на всю длину элемента)
.dashed {
    position: relative;
}

.dashed:after {
    position: absolute;
    margin-top: 3px;
    top: 100%;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $primary-white;
    content: "";
}

// обычное нижнее подчёркивание, на 100% длины элемены
.link__dashed {
    border-bottom: 1px solid $primary-white;
}

