// account header
.header.account {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 28px;
    z-index: 3;
}

.header-account__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    margin-left: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-burger__account {
    margin: 20px;
}

.account .header-burger__item {
    margin-bottom: 3px;
    width: 20px;
    height: 2px;
}

.header-burger__item:nth-last-child(1) {
    margin-bottom: 0;
}

.header-navigation__item {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.header-user {
    transition: .2s;
    height: 40px;
    position: fixed;
    top: 0;
    right: 30px;
    margin-top: 19px;
    background: radial-gradient(136.52% 329.37% at -11% 50%, rgba(255, 255, 255, 0.093) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(250px);
}

.header-user__green {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: $account-green;
    cursor: pointer;

}

.header-user__hidden {
    display: none;
    opacity: 0;
}

.header-user.active {
    transition: .2s;
    opacity: 1;
    height: 122px;
}

.header-user.active .header-user__hidden {
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 13px;
}

.header-user__name {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
    margin-left: 10px;
}

.header-user__photo {
    margin-left: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}


.active .header-user__settings {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 26px;
    cursor: pointer;
}

.active .header-user__logout {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}


// sidebar

.sidebar {
    position: fixed;
    top: 60px;
    width: 257px;
    background: radial-gradient(136.52% 329.37% at -11% 50%, rgba(255, 255, 255, 0.093) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(250px);
}

.sidebar-name {
    padding-top: 16px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin: 0 0 16px 28px;
}

.sidebar-item {
    height: 50px;
    width: 100%;
    padding-left: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    transition: .3s
}

.sidebar-item.active,
.sidebar-item:hover {
    background-color: $account-green;
    transition: .3s
}

.sidebar-item__icon {
    width: 16px;
    height: 16px;
    margin-right: 25px;
}

.sidebar-item__name {
    font-size: 14px;
    line-height: 16px;
}


// section
.cabinet {
    width: 100%;
    margin-top: 60px;

}

.cabinet-container {
    width: 900px;
    // margin: 0 auto 0 257px;
    margin: 100px auto 0 auto;
}

.cabinet:before {
    content: "";
    position: absolute;
    width: 350px;
    height: 400px;
    top: 10%;
    left: 20%;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    opacity: .3;
    border-radius: 50%;
    filter: blur(130px);
    z-index: -1;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
}

.cabinet::after {
    content: "";
    position: absolute;
    width: 450px;
    height: 500px;
    top: 70%;
    right: 0%;
    background: linear-gradient(90deg, #16A085 0%, #F4D03F 100%);
    // transform: rotate(109deg);
    opacity: .4;
    border-radius: 50%;
    filter: blur(130px);
    z-index: -1;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
}


.welcome {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $pure-white;
}

.welcome-wrapper {
    margin-bottom: 80px;
}

.big-title {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 81px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subtitle {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.btn__main {
    outline: none;
    color: $pure-white;
    cursor: pointer;
    width: 286px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    background-color: $account-green;
}

// stpes

.step {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.deposit {
    margin-left: 260px;
    margin-top: 40px;
}

.card {
    width: 510px;
    height: auto;
    background: radial-gradient(136.52% 329.37% at -11% 50%, rgba(255, 255, 255, 0.093) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    padding: 40px 40px 20px 40px;
}

.info {
    width: 361px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 42px;
}

.label {
    color: $account-green;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper__big {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: 40px;
}

.input-wrapper__big .input {
    width: 100%;
}

.input {
    width: 200px;
    color: $pure-white;
    border: 1px solid $pure-white;
    background-color: inherit;
    padding: 13px 0 13px 16px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.input:focus,
select:focus {
    outline: none;
}

// кастомизация селекта
.select {
    cursor: pointer;
    position: relative;
    width: 430px;
    height: 40px;
    background-color: inherit;
    color: $pure-white;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

option {
    cursor: pointer;
}

.new-select {
    position: relative;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    margin-top: -10px;
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #111;
    user-select: none;
}

.new-select__item:hover,
.new-select__item span:hover {
    background-color: $account-green;
    color: $pure-white;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    color: white;
    padding: 10px 15px;
}


.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url('path-to-image') no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.button__long {
    width: 430px;
    height: 50px;
    margin-top: 59px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    background-color: $account-green;
    color: $pure-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-footer {
    text-align: center;
    margin-top: 78px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.sublabel {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
}

.label__small {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    color: $account-green;
}

.step-item {
    margin-top: 23px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}

.label__mid {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 11px;
    color: $account-green;
}

.account-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.account-wrapper__title {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
}

.account-wrapper__span {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

.account-wrapper__span .white {
    color: $pure-white;
}

.account-wrapper__span .green {
    color: $account-green;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.referral__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $pure-white;
    background-color: $account-green;
    width: 430px;
    height: 40px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.button-secondary__small {
    width: 60px;
    height: 40px;
    border: 1px solid $account-green;
    padding: 13px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    background-color: inherit;
    color: $account-green;
    cursor: pointer;
}

.account-span__green {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    color: $account-green;
}


.table {
    position: relative;
    z-index: -1;
    margin-bottom: 20px;
    border: none;
    border-collapse: collapse;
    background: radial-gradient(136.52% 329.37% at -11% 50%, rgba(255, 255, 255, 0.093) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(250px);
}

.table th {
    padding: 20px 0px 20px 20px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    background: inherit;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $primary-white;
}

.table td {
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-bottom: 10px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: $account-green;
}

.table-info__wrapper {
    width: 522px;
}

.td.valid {
    color: $account-green;
}
.td.invalid{
    color: $account-red;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 430px;
}

.input__big {
    width: 430px;
    color: $pure-white;
    border: 1px solid $pure-white;
    background-color: inherit;
    padding: 13px 0 13px 16px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
}

.wallet__link {
    width: 430px;
    border: 1px solid $pure-white;
    background-color: inherit;
    color: $pure-white;
    padding: 13px 0 13px 16px;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.vertical {
    // padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-white {
    border-spacing: 20px 40px ;
    width: 660px;
    background-color: $pure-white;
    color: #000;
    margin-bottom: 50px;
    position: relative;
    z-index: 0;
}

.table-white tr{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
}

.strong {
    font-weight: bold;
}

.table-wrapper {
    width: 660px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.table-navigation {
    width: 300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    right: 40px;
    color: #000;
}

.table-navigation__select option{
    color: #000;
    cursor: pointer;
}

.black {
    color: red;
}