.header {
    height: 60px;
    background-color: $background-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-burger {
    display: none;
}

.header-burger__item {
    width: 30px;
    height: 2px;
    background-color: $primary-white;
    margin: 0;
}
.header-burger__item:nth-child(1) {
    margin-bottom: 5px;
}

.header-links,
.header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links__item,
.header-login__item {
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $pure-white;
    margin-right: 40px;
    cursor: pointer;
}

.header-links__item:nth-last-child(1),
.header-login__item:nth-last-child(1) {
    margin-right: 0;
}

