.letter .container {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $primary-white;
    position: relative;
    font-family: Furore;
    font-style: normal;
    font-weight: normal;
}

.letter-card:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 100px;
    top: 70%;
    right: -10%;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
    transform: rotate(109deg);
    opacity: .8;
    border-radius: 50%;
    filter: blur(70px);
    z-index: -1;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
}

.letter-card {
    padding: 20px 22px 30px 28px;
    width: 500px;
    height: 400px;
    background: radial-gradient(136.52% 329.37% at -11% 50%, rgba(255, 255, 255, 0.093) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    backdrop-filter: blur(250px);
    border: 1px solid $pure-white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.letter-card__title {
    font-size: 40px;
    line-height: 46px;
    width: 390px;
}

.letter-card__info {
    // margin-bottom: 80px;
    font-size: 15px;
    line-height: 17px;
}

.letter-card__btn-main {
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: $account-green;
    color: $login-white;
    margin-right: 8px;
    cursor: pointer;
}

.letter-card__secondary {
    align-self: end;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 1px solid $account-green;
    background-color: inherit;
    color: $login-white;
}

.letter-card__secondary-green {
    color: $account-green;
}

.confirmation {
    width: 284px;
}
.recovery {
    width: 374px;
}

.letter-footer {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-top: 95px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}

.letter-card__long{
    width: 444px;
    height: 40px;
    border: 1px solid $account-green;
    display: flex;
    align-items: center;    
    justify-content: flex-start;
    padding: 13px 5px 13px 40px;
}